@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #fafaf6;
}

body, body > *, h1, h2, h3, h4, h5, h6, p, span, sup {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

header, footer {
    width: 100%;
    background-color: #333;
    color: #fafaf6;
}

h1 {
    text-align: center;
    padding: 3rem 0 0 0;
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    padding: 1rem 0 3rem 0;
    font-size: 1.25rem;
}

.data-link {
    width: 100%;
    margin: 2rem 0;
    text-align: center;
}

.data-link > * {
    margin-top: 1rem;
}

.container {
    width: 80vw;
    margin: auto;
}

.catechism-divider {
    display: flex;
    justify-content: space-evenly;
}

.catechism-divider > h2 {
    font-size: 2rem;
}

.item {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    margin-bottom: 1.5rem;
}

h4 {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
}

h5 {
    font-size: 1.1rem;
    font-weight: unset;
    padding-bottom: 0.5rem;
}

h5 sup {
    font-size: 0.8rem;
}

.footnote-number {
    margin: 0 0.3rem 0 0;
}

span + .reference-list-number {
    margin: 0 0.2rem 0 0.5rem;
}

.references {
    font-size: 0.8rem;
    background-color: #333;
    color: #fafaf6;
    padding: 0 0.5rem;
}

.topics {
    margin: 0.75rem 0 3rem 0;
    font-size: 0.9rem;
}

footer {
    padding: 3rem 0;
    text-align: center;
}

footer p {
    padding: 2rem;
    font-size: 1.0rem;
}